:root{
    --bg: #EFFFFA;
    --secondary: #C3BEF7;
    --tertiary: #8A4FFF;
}

.container{
    background: var(--bg);
    max-width: 70%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 5% auto auto;
}

.projectInfo{
    display: flex;
    justify-content: right;
    gap: 2%;
}

.return{
    display: flex;
    justify-content: right;
    gap: 2%;
}
.name{
    text-align: center;
    color: var(--secondary);
    font-weight: bold;
}

.info{
    text-align: center;
    color: var(--tertiary);
}

.contactInfo{
    display: flex;
    justify-content: center;
    gap: 2%;
    color: var(--tertiary);
}

a{
margin: 0;
}

a:link, a:visited{
    color:var(--secondary);
    text-decoration: none;
}

a:hover, a:active{
    color: rgb(255 171 143);
    text-decoration: underline;
}

.edu{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.ku{
    margin-top: 2%;
    color: var(--tertiary);
}

.umf{
    margin-top: 2%;
    color: var(--tertiary);
}

.gec{
    margin-top: 2%;
    color: var(--tertiary);
}

.ku1{
    text-align: left;
    display: flex;
    gap: 80%;
}

.umf1{
    text-align: left;
    display: flex;
    gap: 80%;
}

.gec1{
    text-align: left;
    display: flex;
    gap: 80%;
}

h5,p{
    margin: 0;
}

.exp{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.place{
    margin-top: 2%;
    color: var(--tertiary);
}

.details{
    text-align: left;
    display: flex;
    gap: 80%;
}

.ach{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.ach1{
    color: var(--tertiary);
}

.le{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.stgvt{
    margin-top: 2%;
    color: var(--tertiary);
}

.rbtcs{
    margin-top: 2%;
    color: var(--tertiary);
}

.stgvt1{
    text-align: left;
    display: flex;
    gap: 80%;
}

.rbtcs1{
    text-align: left;
    display: flex;
    gap: 80%;
}

.extc{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.extc1{
    color: var(--tertiary);
}

.skls{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.skls1{
    color: var(--tertiary);
}

.weatherApp{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.weatherAppDetails{
    color: var(--tertiary);
}

.projectLinks{
    display: flex;
    justify-content: left;
    gap: 2%;
    margin-top: 2%;
}

.robotCode{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: var(--secondary);
}

.robotCodeDetails{
    color: var(--tertiary);
}

.waterDropGame{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: rgb(227 55 16);
}

.waterDropGameDetails{
    color: var(--tertiary);
}

.breakOutGame{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: rgb(227 55 16);
}

.breakOutGameDetails{
    color: var(--tertiary);
}

.richardSikenQuoteGenerator{
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px #021418;
    margin: 2%;
    color: rgb(227 55 16);
}

.richardSikenQuoteGeneratorDetails{
    color: var(--tertiary);
}